nav{
      background-color: rgb(84, 6, 6);
      font-size:25px;
      height: 50px;
    }

    article{
        font-size: 32px;
    }

    a{
        color: white;
    }

     footer{
        height: 50px;
        background-color: grey;
        font-size: 32px;
        
    }