 body{
        background-color: rgb(84, 6, 6);
    }

    a{
    color: white;
    }

h1{
    color: yellow;
    font-size: 40px;
    }
h2{
    color: white;
    font-size: 32px;
    }
p{
    color: white;
    font-size: 32px;
    }

nav{
    font-size:25px;
    }

button{
    border-radius: 25px;
    background-color: cornsilk;
    font-size: 20px;
}

 footer{
        height: 50px;
        background-color: grey;
        font-size: 32px;
        
    }