 nav {
      background-color: rgb(84, 6, 6);
      font-size: 25px;
      height: 50px;
    }

    a {
      color: white;
    }

    ol{
        font-size: 28px;
    }

     footer{
        height: 50px;
        background-color: grey;
        font-size: 32px;
        
    }
